@import '../../variables.scss';


// @import url("https://fonts.googleapis.com/css2?family=Atma:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Allura&family=Open+Sans&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 2;

  background-color: $light;

  strong{
    color: $textcolor;
  }
}

h1,
h2 {
  font-family: "Allura", cursive;
  color: $textcolor
}

h1 {
  font-size: 60px;
  text-align: center;
}
h2 {
  font-size: 40px;
  line-height: 50px;
}

p {
  text-align: justify;
}

a{
  color: $secondary;
  text-decoration: none;
}

img {
  border-radius: 4px;
}

.space, article {
  margin: 50px auto;
}

.content{
  margin-bottom: 100px;
}


@media screen and (min-width: 768px){
  p {
    text-indent: 50px;
  }
}