header {
  margin-bottom: 1.45rem;
  background: rebeccapurple;

  div {
    max-width: 960px;

    h1 {
      margin: 0;
      padding: 1.45rem 0 1.45rem 100px;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
