@import '../../variables.scss';

header {
  margin-bottom: 1.45rem;
  background: $dark;

  -webkit-box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.73); 
  box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.73);

  .header-elements {
    display: flex;
    justify-content: space-between;

    max-width: 1100px;
    margin: auto;

    h1 {
      margin: 0;
      padding-left: 100px;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.desktop-menu-links {
  display: none;

  li{
    line-height: 120px;
  }

  li a {
    font-size: 30px;
    text-decoration: none;
  }

  li:hover {
    a {
      color: $secondary;
    }
  }
}

@media screen and (min-width: 1070px) {
  .desktop-menu-links {
    display: flex;

    li {
      padding-left: 30px;
      list-style: none;

      a {
        color: white;
        line-height: 100px;
      }
    }
  }

  header .header-elements h1 {
    padding-left: 18px;
  }
}
